body{
  font-family: Rockwell;
  cursor: pointer;
}

.title {
  background-color: #C74B55;
  width: 50%;
  height:140px;
  padding-left: 25px;
  display: flex;
  align-items:center;
  color: white;
  font-size: 45px;
}


img {
width:48%;
height:700px;
position: absolute;
right:0;
top:8px;



}

.about {
padding-top: 20px;
padding-left:10px;
width: 50%;
line-height: 1.6;

}

.slide {

background-position: right;
background-repeat: no-repeat;


}


.slide1{
  background-image:url('assets/pictures/slidepictures/1.jpg')
}
.slide2{
  background-image:url('assets/pictures/slidepictures/2.jpg')
}
.slide3{
  background-image:url('assets/pictures/slidepictures/3.jpg')
}


.button1{
  height:10%;
  width:10%;
  border:none;
  opacity:0.5;
  position: absolute;
  top:50%;
  font-size: 30px;



}

.button2{

    height:10%;
    width:10%;
    border:none;
    opacity:0.5;
    position: absolute;
    top:50%;
    right:0;
    font-size: 30px;


}


.return {
margin-left: 15px;
position: absolute;
left:0;
bottom:0;

}


.return:hover {
 opacity: 0.5;

}

a {
  text-decoration: none;


}
